# Web Framework
fastapi==0.115.8
uvicorn==0.34.0

# Data Validation and Configuration
pydantic[email]==2.10.6
pydantic==2.10.6
pydantic-settings==2.7.1


# Database
motor==3.7.0
beanie==1.29.0

# Authentication
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.20

# Utilities
bleach==6.2.0
python-slugify==8.0.4
python-dotenv==1.0.1

# Development
pymongo==4.11.1  # Required by motor
typing-extensions==4.12.2
